@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@font-face {
    font-family: 'BigJohn';
    src: url('fonts/BigJohn.otf');
}
@font-face {
    font-family: 'SlimJoe';
    src: url('fonts/SlimJoe.otf');
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: 16px Lato, sans-serif;
    color:  #ffffff;
}

.home, .portfolio, .about, .contact, footer {
    max-width: 1140px;
    margin: auto;
}

h1 {
    font: 46px BigJohn;

}

h2 {
    font: 30px SlimJoe;
}

h3 {
    font: 26px BigJohn;
    color:  #48bf72;
}

h4 {
    font: 700 30px Lato;
}

h5 {
    font: 400 22px Lato;
}

label {
    font-size: 0;
}

input {
    display: inline-block;
    vertical-align: middle;
    border-radius: 0 3px 3px 0;
    border: 2px solid #3c4955;
    background-color:  #f1f1f1;
    width: 288px;
    height: 46px;
    font: 700 16px Lato;
    color:  #a6a5a5;
    padding: 20px;
    outline: 0;
}

.button {
    border-radius: 3px;
    border: 2px solid #48bf72;
    background-color: transparent;
    width: 134px;
    height: 35px;
    text-transform: uppercase;
    color: #48bf72;
    font: 700 14px Lato;
    cursor: pointer;
}

.l-home {
    background: url('img/home_bg.png') center #3c4955 ;
}

.home {
    height: 650px;
}

    .menu {
        width: 100%;
        text-align: right;
        height: 100px;
        font-size: 100px;
    }

        .menu__logo {
        vertical-align: middle;
        padding-right: 20%;
        }

        .menu__navigation {
            text-decoration: none;
            margin-left: 50px;
            font-weight: 700;
            vertical-align: middle;
        }

        p.menu__navigation {
            display: inline-block;
            color: #26323d;
            vertical-align: middle;
        }

    .hello {
        height: 200px;
        margin: auto;
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
        text-align: center;
    }

        .hello h2 {
            margin: 20px 0 50px 0;
        }



.portfolio {
    text-align: center;
    padding-bottom: 90px;
    min-height: 1050px;
}

    .project-type {
        display: inline-block;
        border-radius: 2px;
        background-color:  #eaeaea;
        color:  #3c4955;
        width: 125px;
        height: 32px;
        font: 700 16px Lato;
        margin: 50px 6px;
        padding-top: 5px;
    }

    .project-type:hover {
        background-color: #48bf72;
        color: #ffffff;
        cursor: pointer;
    }

    .l-column-left {
        float: left;
        width: 450px;

    }

    .l-column-right {
        float: right;
        width: 650px;


    }

    .project-item {
        text-align: center;
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        margin-bottom: 40px;
    }


    .project-item--overlay {
        opacity: 0;
        transition: all 0.3s;
        margin: auto;
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(28%, 75%, 45%, .9);

    }

        .overlay {
            position: relative;
            width: 100%;
            height: 100%;
        }

        .overlay__text {
            margin: auto;
            position: absolute;
            top: 0; left: 0; bottom: 0; right: 0;
            height: 60px;
        }

    .project-item:hover .project-item--overlay {
        opacity: 1;
    }

.l-about {
    background: url('img/about_man.png') center #3c4955 ;
}

    .about {
        position: relative;
        height: 500px;
    }

    .l-about-text {
        max-width: 450px;
        max-height: 60%;
        margin: auto;
        position: absolute;
        top: 0; left: auto; bottom: 0; right: 100px;
    }

    .l-about-text p {
        margin: 30px 0 40px 0;
    }

.contact h3{
    text-align: center;
    padding: 50px 0;
}

    .form {
        width: 700px;
        margin: auto;
        margin-bottom: 50px;
    }

        .input-block {
           border-radius: 3px 0 0 3px;
           background-color:  #3c4955;
           width: 46px;
           height: 46px;
           display: inline-block;
           vertical-align: middle;
           position: relative;
        }

        .input-block--text {
            height: 224px
        }

            .input-block__img {
                width: 20px;
                margin: auto;
                position: absolute;
                top: 0px; left: 0; bottom: 0; right: 0;
            }

                .input-block--text .input-block__img {
                    top: 10px; left: 0; bottom: auto; right: 0;
                }

            .input-block::after {
                content: ' ';
                position: absolute;
                margin: 40% 0;
                left: 105%;
                border: 5px solid;
                border-color: transparent transparent transparent #3c4955;
            }

        .form__name{
            margin-right: 30px;
        }
        .form__text {
            width: 650px;
            height: 224px;
            margin: 30px 0;
        }

        .form .button {
            border-radius: 3px;
            background-color:  #48bf72;
            width: 701px;
            height: 50px;
            color: #ffffff;
            letter-spacing: 5px;
        }

.l-footer {
    background: #3c4955 ;

}

    footer {
        position: relative;
        height: 200px;
    }

    footer p {
        max-width: 450px;
        max-height: 10%;
        margin: auto;
        position: absolute;
        top: 0; left: 0; bottom: 0; right: auto;
    }


    .social {
        max-height: 30%;
        margin: auto;
        position: absolute;
        top: 0; left: auto; bottom: 0; right: 0;
    }

        .social img {
            margin-left: 40px;
        }


