@import url('https://fonts.googleapis.com/css?family=Raleway:400,900|Roboto:300,400,700,900');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color:  #eeeeee;
    font: 18px/24px Raleway, sans-serif;

    color: #303030;
}

a {
    text-decoration: none;
}

.wrap {
	margin: auto;
	width: 1200px;
}

.header {
    padding: 50px 0 100px 0;
    background: radial-gradient(ellipse at center, #ffffff 0%,#efefef 70%,#eeeeee 100%);
    background-size: 700px 700px;
    background-position: 500px;
    background-repeat: no-repeat;
}

    .nav-main {
        font-size: 0;
    }

    .nav-main-logo, .nav-main-links {
        display: inline-block;
        width: 50%;
        font-size: 18px;
    }

    .nav-main-links {
        text-align: right;
    }

    .nav-main-links a {
        text-decoration: none;
        font-family: Roboto, sans-serif;
        color: #303030;
        letter-spacing: .0025em;
        margin-right: 50px;
    }

    .nav-main-links i {
        display: inline-block;
        vertical-align: middle;
    }

.slider {

}

    .slider-text {
        width: 615px;
        display: inline-block;
        text-align: right;
        vertical-align: middle;
    }

        .slider-text h1 {
            font: 900 150px/150px Raleway;
            text-transform: uppercase;
            margin-bottom: 30px;
        }

        .slider-text p {
        font: 300 24px Roboto;
        color:  #303030;
        margin-bottom: 20px;
        }

        .slider-text a {
            font: 700 24px Roboto;
            color:  #e10011;

        }

    .slider-image {
        display: inline-block;
        margin: 0 104px;
        vertical-align: bottom
    }

    .slider-nav {
        text-align: center;
        margin-top: 70px;
    }

        .slider-nav-dot {
            display: inline-block;
            border-radius: 50%;
            background-color: #303030;
            width: 11px;
            height: 11px;
        }

        .slider-nav-dot:first-of-type {
            background-color:  #e10011;
        }

.product {
    border-radius: 5px;
    background-color:  #ffffff;
    height: 1193px;
    text-align: center;
}

    .product h1 {
        font: 900 48px/48px Raleway;
        color:  #303030;
        text-align: center;
        margin: 0;
        padding-top: 114px;
    }

    .product-star {
        margin: 15px 0 10px 0;
    }

    .product p {
        margin: auto;
        width: 585px;
        padding-bottom: 70px;
    }

    .poduct-item {
    width: 328px;
    height: 387px;
    overflow: hidden;
    display: inline-block;
    font-size: 0;
    border-radius: 5px;
    margin: 15px;
    }

    .poduct-item-strong {
        width: 690px;
    }

    .poduct-overlay {
        display: none;
        width: inherit;
        height: inherit;
        background-color: red;
        color: white;
        font: 900 30px Roboto;

    }
        .poduct-overlay p {
            color: #ffffff;
            text-align: left;
            padding: 264px 0 0 38px;
            position: absolute;
            margin-bottom: -10px;
        }

        .poduct-overlay p::after {
            content: '';
            display: inline-block;
            background-color: #FFF;
            width: 92px;
            height: 5px;
        }

    .poduct-item:hover .poduct-img {
        display: none;
    }

    .poduct-item:hover .poduct-overlay {
        display: block;
    }


footer {
    text-align: center;
    padding-top: 100px;
}

    footer h1 {
        font: 900 48px Raleway;
        color:  #303030;
        text-align: center;
        padding: 0 0 15px 0;
        margin: 0 auto;
    }

    footer p {
        font: 400 18px/24px Raleway;
        color:  #303030;
        width: 585px;
        margin: auto;
        padding-bottom: 35px;
    }

    .submit {
        display: inline-block;
        background: #FFF;
        border-radius: 100px;
        margin: auto;
        height: 70px;
    }

        form i {
            margin: 0 15px 0 32px;
            display: inline-block;
            vertical-align: middle;
            color: #979797;
        }

        input[type="email"] {
            width: 500px;
            vertical-align: middle;
            border: 0;
            border-radius: 100px;
            outline: none;
        }

        .submit-button {
            background: red;
            font: 24px Roboto;
            border: 0;
            border-radius: 0 100px 100px 0;
            height: 70px;
            width: 210px;
            vertical-align: middle;
            text-transform: uppercase;
            font: 900 18px Roboto;
            color:  #ffffff;
        }

    .social {
        margin: auto;
    }

    .social a {
        display: inline-block;
        width: 70px;
        height: 70px;
        background-color: #FFF;
        border-radius: 50%;
        margin: 110px 10px 70px 10px;
    }



