@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto:300,400,700');

* {
    box-sizing: border-box;
}

body {
	height: 100vh;
	background: linear-gradient(to right, rgba(184, 203, 184, .7) 0%,  rgba(184, 203, 184, .4) 0%, rgba(180, 101, 218, .4) 0%, rgba(207, 108, 201, .4) 33%, rgba(238, 96, 156, .4) 66%, rgba(238, 96, 156, .4) 100%), url('img/bg_t.jpg');
	background-size: 100% auto;
	margin: 0;
	font: 14px Roboto;
	position: relative;
}

.menu {
    width: 750px;
    padding-top: 30px;
    text-align: right;
    margin: auto;
}

    .menu_row {
    	display: inline-block;
        padding-left: 50px;
        vertical-align: middle;
        text-decoration: none;
        color: white;
    }

    img.menu_row {
        float: left;
        padding: 0;
        margin: 5px 0;
    }

.card {
	width: 750px;
	height: 430px;
	background: #f4f4f4;
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
	margin: auto;
}

    .backgroundone, .backgroundtwo {
        width: 770px;
        height: 410px;
        background: rgba(255, 255, 255, .4);
        position: absolute;
        top: 0; bottom: 0; left: 0; right: 0;
        margin: auto;
    }

    .backgroundtwo {
        width: 790px;
        height: 400px;
    }

.card_image {
	width: 495px;
	height: 100%;
	display: inline-block;
	vertical-align: middle;
	position: relative;
}

	.photoviewer_title, .photoviewer_image, .photoviewer_preview, .photoviewer_add {
		position: absolute;
		top: 50px; bottom: 0; left: 0; right: 0;
		margin: 0 auto;
		text-align: center;
		display: inline-block;

	}

	.photoviewer_title {
		top: 70px;
        color: #FFF;
        font: 700 72px Roboto;
        text-transform: uppercase;
        letter-spacing: .1em;

	}

    .photoviewer_add {
        margin: 0;
        top: 330px;
        left: 460px;
    }

	.photoviewer_preview {
		top: 360px;
	}

        .prewiews_image {
            margin: 0 9px;
        }

.card_info {
	width: 250px;
	height: 100%;
	display: inline-block;
	background: #ffffff;
	vertical-align: middle;
    padding: 45px 33px;
    font: 14px 'Roboto Condensed';
}

    .label {
        background-color:  #ffa60d;
        width: 42px;
        height: 24px;
        text-align: center;
        padding: .2em;
        color: #ffffff;
        margin: 0;
    }

    h1 {
        font-size: 24px;
        color:  #000000;
        margin: 11px 0;
    }

    span {
        color:  #5e4fff;
        }

    .description {
        margin: 0;
        display: inline-block;
    }

    .raiting {
        display: inline-block;
        margin-left: 10px;
    }

        .raiting_star {
            filter: opacity(50%);
        }

        .raiting_star-gold {
            filter: opacity(100%);
        }

    .price {
        font-size: 22px;
        margin: 15px 0;
    }

    .size_header {
        margin: 0;
        font: 12px Roboto;
    }

    .size_number {
        display: inline-block;
        margin: 5px 22px 20px 0;
    }

        .size_number-selected {
            padding: 5px;
            border: 1px solid black;
        }
    input {
        width: 118px;
        height: 30px;
        border: 0;
        text-transform: uppercase;
        font: 12px 'Roboto Condensed';
    }

        .send {
            background-color:  #a200b8;
            margin: 4px 0;
            color: #ffffff;
        }

        .wishlist {
            background-color:  #ffffff;
            border: 1px solid  #0f0f0f;
        }

.send:hover, .wishlist:hover, .raiting_star:hover, .prewiews_image, .photoviewer_add {
    cursor: pointer;
    filter: opacity(100%);
}




