@import url('https://fonts.googleapis.com/css?family=Raleway:100');

* {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    position: relative;
    font: 14px Raleway;
    background-image: url('img/main_bg.png');
    background-size: 100% auto;
    margin: 0;
}

main {
    border-radius: 10px;
    background-color:  #111a28;
    box-shadow: 0px 0px 65px 0px rgba(0, 0, 0, 0.82);
    width: 700px;
    height: 391px;

    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

.item {
    position: relative;
    width: 58%;
    height: 100%;
    float: left;
}

    .nike {
        position: absolute;
        top: 24px; left: 21px;
    }

    .product {
        margin: auto;
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
    }

    .slider {
       position: absolute;
       bottom: 23px; left: 180px;

    }

    .slider__round {
        display: inline-block;
        border-radius: 50%;
        background-color:  #ffffff;
        width: 9px;
        height: 9px;
        vertical-align: middle;
    }

    .slider__round--selected {
        width: 12px;
        height: 12px;
        border: 2px solid red;
    }

.description {
    float: right;
    width: 42%;
    padding: 55px;

}

    h1 {
        color:  #e1e1e1;
        font: 400 24px/26px Raleway;/* Приближение из-за подстановки шрифтов */
    }

    p {
        color:  #e1e1e1;
        font-size: 14px;/* Приближение из-за подстановки шрифтов */
        line-height: 26px;/* Приближение из-за подстановки шрифтов */
        text-align: left;
    }

    .raiting {
        display: block;
        margin: 25px 0;
    }

    select {
        border-width: 1px;
        border-color:  #ffffff;
        border-style: solid;
        background-color:  #111a28;
        opacity: 0.26;
        width: 67px;
        height: 30px;

        font-family: Raleway;
        color:  #e1e1e1;
        font-size: 14px;/* Приближение из-за подстановки шрифтов */
        line-height: 18px;/* Приближение из-за подстановки шрифтов */
        text-align: left;
    }

    input {
        border-width: 1px;
        border-color:  #ffffff;
        border-style: solid;
        background-color:  #4c525a;
        opacity: 0.26;
        width: 182px;
        height: 38px;
        font: 14px Raleway;
        text-align: center;
        color:  #e1e1e1;
        margin: 30px 0;
    }

