body {
	background-color: black;
	font-size: 16px;
	padding: 50px;
	color: white;
    width: 100%;
}

h1 {
	text-decoration: underline;
}

img {
	border: 5px solid red;
    float: left;
    width: 30%;
    margin-right: 60px;
}

.strong {
	font-weight: bold;
}

main {
    overflow: hidden;
    width: 50%;
}
