@import url('https://fonts.googleapis.com/css?family=Lato:Light|LightItalic');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

* {
    box-sizing: border-box;
}

body {
    padding: 125px 100px;
    font-size: 18px;
}

main {
    margin: auto;
    padding: 120px;
    box-shadow: 0 0 68px 4px rgba(23, 23, 23, 0.1);
    font-family: 'Lato', sans-serif;
    line-height: 2em;
    color: rgba(0, 0, 0, 0.7);

}

p:first-letter {
    font: 110px 'Playfair Display';
    float: left;
    margin: -25px 25px -15px 0;
/*     line-height: 0.75; */
}

h1 {
    font: 42px 'Playfair Display';
    margin: 20px 0;

}

blockquote{
    font-size: 24px;
    font-style: italic;
}

span {
    font-size: 60px;

}

a {
    display: block;
    width: 265px;
    height: 70px;
    border: 1px solid #eaa258;
    padding: 15px 0;
    margin-top: 40px;

    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    letter-spacing: 1px;
    color: #EAA258;
}
