* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 400 14px 'Open Sans', sans-serif;
    color: #60606e;
}

.h1 {
    font: 700 30px 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin-top: 0;
}

.h2 {
    font: 700 24px/35px 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.h3 {
    font: 700 18px 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin-top: 0;
    display: inline-block;

}

.material-icons {
    vertical-align: middle;
}

.header {
    height: 500px;
    background: url("home-bg.png");
    background-size: cover;
    background-position: center;
    filter: grayscale(100%);

    min-width: 1140px;
    position: relative;

    color: #FFF;
    text-transform: uppercase;
    padding: 50px calc((100% - 1140px) / 2);
}

    .header_title {
        height: 100px;
        position: absolute;
        margin: auto;
        left: 0; top: 0; right: 0; bottom: 0;

        text-align-last: center;

    }

        .header_pagename {
            font: 700 30px 'Montserrat', sans-serif;
        }

.main {
    width: 1140px;
    margin: auto;
}

    .main_columns {
        columns: 2;
        column-gap: 30px;
        margin: 140px 0;
    }

    .info_title {
       background: linear-gradient(to top, #7beec7 , #7beec7 );
       background-repeat: no-repeat;
       background-size: 68px 21px;
       background-position: left bottom;

    }

    .main_center {
        width: 50%;
        text-align: center;
        margin: auto;
        margin-top: 135px;
        margin-bottom: 80px;

    }
        .main_center .info_title {
            display: inline-block;
        }

    .main_direction {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

        .direction {
            width: 360px;
        }

            .direction_header {
                margin: 50px 0 20px 0;
            }

                .direction_icon {
                    display: inline-block;
                    width: 40px;
                    height: 40px;
                    background: #7beec7;
                    position: relative;
                    vertical-align: middle;
                    margin-right: 20px;
                }

                .material-icons {
                    height: 23px;
                    width: 60%;
                    color: #fff;
                    position: absolute;
                    margin: auto;
                    left: 0; top: 0; right: 0; bottom: 0;
                }


    .main_people {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

        .people_image {
            margin-bottom: 30px;
        }


.footer {
    background: #7beec7;
    padding: 50px calc((100% - 1140px) / 2);
    color: #FFF;
    font-size: 0;
}

.button {
    width: 165px;
    height: 50px;
    background: #7beec7;
    display: inline-block;
    text-transform: uppercase;
    border: 0;
    text-decoration: none;
    font-size: 14px;
    color:  #FFF;
}

.button__light {
    background: #fff;
    color:  #7beec7
}

    .contact {
        display: inline-block;
        vertical-align: top;
        width: 50%;
        font-size: 14px;
    }

    .subscribe {
        background: #FFF;
        color: #60606e;
        width: 50%;
        height: 230px;
        display: inline-block;
        padding: 10px 30px 10px 20px;
        font-size: 14px;
    }

    .subscribe_form {
        font-size: 0;
        margin: 25px 0 10px 0;
    }

        .subscribe_email {
            width: calc(510px - 165px);
            height: 50px;
            font-size: 12px;
            border: 1px solid #60606e;
            border-right: 0;
            margin: 0;
            padding-left: 20px;
            outline: 0;
            }






