@import url('mixin.less');

.about {
	background: url("img/backgrounds/about.png");
	.background;
	height: 685px;

	&_text {
		width: 50%;

		.h1 {
			font: 400 36px/26px @fontAccent;
		}

		p {
			margin: 60px 0 50px;
		}
	}

	&_img {
		text-align: right;

		img:nth-of-type(2n+1) {
			margin-right: 15%;
		}
	}
}



