.background {
  background-size: cover;
  background-position: bottom;
}
.position-center {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.about {
  background: url("img/backgrounds/about.png");
  background-size: cover;
  background-position: bottom;
  height: 685px;
}
.about_text {
  width: 50%;
}
.about_text .h1 {
  font: 400 36px/26px Aleo, serif;
}
.about_text p {
  margin: 60px 0 50px;
}
.about_img {
  text-align: right;
}
.about_img img:nth-of-type(2n+1) {
  margin-right: 15%;
}
