@import url('mixin.less');

.footerr {
	.background;
	background: @colorBg;

	height: 268px;

	.wrap {
		flex-direction: column;
	}

	.h1 {
		padding-top: 5%;
		font: 700 24px/26px @fontMain;
		text-transform: uppercase;
		letter-spacing: 1px;
	}

	.h2 {
		font: 400 16px/26px @fontMain;
		padding: 10px 0 30px;
	}

	.social {

		display: flex;
		width: 150px;
		justify-content: space-between;
		align-items: center;


	}
}
