.background {
  background-size: cover;
  background-position: bottom;
}
.position-center {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.footerr {
  background-size: cover;
  background-position: bottom;
  background: #333333;
  height: 268px;
}
.footerr .wrap {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.footerr .h1 {
  padding-top: 5%;
  font: 700 24px/26px 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.footerr .h2 {
  font: 400 16px/26px 'Josefin Sans', sans-serif;
  padding: 10px 0 30px;
}
.footerr .social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 150px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
