@import url('mixin.less');

.home {
	background: url("img/backgrounds/home.png");
	.background;
	position: relative;

	height: 100vh;

	& > .wrap {
		flex-direction: column;
		height: 100%;
	}

	.h1 {
		font: 700 48px @fontMain;
		color:  #ffffff;
		text-transform: uppercase;
		margin: 50px 0 15px ;
		letter-spacing: 5px;
	}

	.h2 {
		font: 400 22px @fontMain;
		letter-spacing: 6px;
	}

	.search {
		background-color:  #ffffff;
		width: 500px;
		height: 60px;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		margin: 50px auto;

		.button {
			border-width: 2px;
			border-color:  #ffffff;
			border-style: solid;
			background-color:  #5474fd;
			width: 146px;
			height: 58px;
		}
	}

	.search_line, .search_line:focus {
		border: 0;
		margin: auto;
		height: 100%;
		outline: 0;
		color:  #999999;
	}

	.scroll {
		margin-top: 2%;
		text-align: center;

		a {
			font-size: 14px;
		}
	}
}

.menu {
	background-color: @colorMain;
	height: 80px;
	text-transform: uppercase;
	.position-center;
	top: auto;

	.wrap {
		justify-content: flex-end;
		align-items: center;
		align-content: center;
		/* я пыталась */
		/* 		display: -ms-flexbox;
		-ms-flex-pack: justify; */
	}

	&_item {
		margin-left: 40px;
		font: 400 14px/26px @fontAccent;
		vertical-align: middle;
	}

	&_item:nth-of-type(1) {
		margin-right: auto;
		font: 700 24px/26px @fontMain;
	}

}
