@colorMain: #5474fd;
@colorBg: #333333;

@fontMain: 'Josefin Sans', sans-serif;
@fontAccent: Aleo, serif;

.background {
	background-size: cover;
	background-position: bottom;
}

.position-center {
	position: absolute;
	margin: auto;
	top: 0;bottom: 0;left: 0;right: 0;
}

