.background {
  background-size: cover;
  background-position: bottom;
}
.position-center {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.proposal {
  background: url("img/backgrounds/prop1.png");
  background-size: cover;
  background-position: bottom;
  height: 685px;
}
.proposal .wrap {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.proposal_item {
  background-color: rgba(35, 35, 35, 0.9);
  width: 540px;
  padding: 50px 30px;
}
.proposal .h2 {
  font: 400 16px/26px 'Josefin Sans', sans-serif;
}
.proposal .h1 {
  font: 400 20px/26px 'Josefin Sans', sans-serif;
  margin: 30px 0;
}
.proposal .button {
  margin-top: 50px;
}
.proposal:nth-of-type(2n+1) {
  background: url("img/backgrounds/prop2.png");
  background-size: cover;
  background-position: bottom;
}
.proposal:nth-of-type(2n+1) .wrap {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
