@import url('mixin.less');

.reviewss {
	background: url("img/backgrounds/reviewsbg.png");
	.background;
	height: 731px;

	.h1 {
		font: 400 36px/26px @fontAccent;
		margin-bottom: 10%;
	}

	.wrap {
		flex-direction: column;
		height: 90%;
	}


	&_item {
		background-color:  #333333;
		font-size: 0;

		.h1 {
			font: 400 20px/26px @fontMain;
			margin-bottom: 30px;
		}
	}

	.reviewer {
		width: 444px;
		vertical-align: middle;
	}

	&_text {
		display: inline-block;
		width: 666px;
		height: 284px;
		font-size: 14px;
		vertical-align: middle;
		padding: 50px 60px;

			span {
			    font: 48px/5px @fontMain;
				color: @colorMain;
			}

	}

	.navigation {
		display: inline-block;
		align-self: flex-end;
		margin-top: 30px;
		font-size: 0;
	}

	.arrow {
		display: inline-block;
		border: 1px solid #ffffff;
		width: 78px;
		height: 48px;
		margin: 0 0 0 15px;
		position: relative;

		img {
			.position-center
		}
	}
}

