.background {
  background-size: cover;
  background-position: bottom;
}
.position-center {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.reviewss {
  background: url("img/backgrounds/reviewsbg.png");
  background-size: cover;
  background-position: bottom;
  height: 731px;
}
.reviewss .h1 {
  font: 400 36px/26px Aleo, serif;
  margin-bottom: 10%;
}
.reviewss .wrap {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 90%;
}
.reviewss_item {
  background-color: #333333;
  font-size: 0;
}
.reviewss_item .h1 {
  font: 400 20px/26px 'Josefin Sans', sans-serif;
  margin-bottom: 30px;
}
.reviewss .reviewer {
  width: 444px;
  vertical-align: middle;
}
.reviewss_text {
  display: inline-block;
  width: 666px;
  height: 284px;
  font-size: 14px;
  vertical-align: middle;
  padding: 50px 60px;
}
.reviewss_text span {
  font: 48px/5px 'Josefin Sans', sans-serif;
  color: #5474fd;
}
.reviewss .navigation {
  display: inline-block;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  margin-top: 30px;
  font-size: 0;
}
.reviewss .arrow {
  display: inline-block;
  border: 1px solid #ffffff;
  width: 78px;
  height: 48px;
  margin: 0 0 0 15px;
  position: relative;
}
.reviewss .arrow img {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
