@import url('mixin.less');

.stages {
	.background;
	background: @colorBg;
	height: 337px;
	overflow: hidden;

	.wrap {
		justify-content: space-around;
		position: relative;


		&:before {
			content: "";
			display: block;
			width: 100%;
			height: 50%;
			.position-center;
			top:auto;
			z-index: 2;
			background: @colorBg;
		}
	}

	&_item {
		text-align: center;



		&:nth-of-type(2):before {
			content: "";
			display: block;
			width: 450px;
			height: 450px;
			border-radius: 50%;
			border: 1px dotted #fff;
			.position-center;
			top:75%; left: -35%;
			z-index: 1;
		}

		&:nth-of-type(2):after {
			content: "";
			display: block;
			width: 450px;
			height: 450px;
			border-radius: 50%;
			border: 1px dotted #fff;
			.position-center;
			top:75%; right: -35%;
		}

		img {
			position: relative;
			z-index: 3;
		}

		h1 {
			position: relative;
			z-index: 3;
		}
	}

	.h1 {
		font: 400 36px/26px @fontAccent;
	}

}
