/* layout */
@import url('home.css');
@import url('about.css');
@import url('stages.css');
@import url('proposal.css');
@import url('reviewss.css');
@import url('footerr.css');

/* mixin */
@import url('mixin.less');

/* fonts */
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,700');
@font-face {
    font-family: Aleo;
    src: url(fonts/Aleo-Regular.otf);
}

*,
h1,
h2,
h3 {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: all .1s ease-in;
}

body {
	margin: 15px;
	font: 400 16px/26px @fontMain;
	color:  #ffffff;
}

a {
	text-decoration: none;
	color:  #ffffff;
}

.wrap {
	margin: auto;
	height: 100%;
	display: flex;
	width: 1110px;
	justify-content: center;
	align-items: center;
	align-content: center;
	color:  #ffffff;
}

.button {
	background-color: @colorMain;
	height: 60px;
	border: 0;
	padding: 0 40px;
	text-transform: uppercase;
	font: 400 16px/26px @fontAccent;
}

.button:hover {
	box-shadow: inset 0 0 20px rgba(0,0,0,0.3);
}

a:hover {
	opacity: .7;
}

:focus::-webkit-input-placeholder {color: transparent}
:focus::-moz-placeholder          {color: transparent}
:focus:-moz-placeholder           {color: transparent}
:focus:-ms-input-placeholder      {color: transparent}
