/* layout */
@import url('home.css');
@import url('about.css');
@import url('stages.css');
@import url('proposal.css');
@import url('reviewss.css');
@import url('footerr.css');
/* mixin */
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,700');
.background {
  background-size: cover;
  background-position: bottom;
}
.position-center {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
/* fonts */
@font-face {
  font-family: Aleo;
  src: url(fonts/Aleo-Regular.otf);
}
*,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}
body {
  margin: 15px;
  font: 400 16px/26px 'Josefin Sans', sans-serif;
  color: #ffffff;
}
a {
  text-decoration: none;
  color: #ffffff;
}
.wrap {
  margin: auto;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 1110px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  color: #ffffff;
}
.button {
  background-color: #5474fd;
  height: 60px;
  border: 0;
  padding: 0 40px;
  text-transform: uppercase;
  font: 400 16px/26px Aleo, serif;
}
.button:hover {
  -webkit-box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.3);
}
a:hover {
  opacity: .7;
}
:focus::-webkit-input-placeholder {
  color: transparent;
}
:focus::-moz-placeholder {
  color: transparent;
}
:focus:-moz-placeholder {
  color: transparent;
}
:focus:-ms-input-placeholder {
  color: transparent;
}
