@import url('https://fonts.googleapis.com/css?family=Lato:100,400,700|Raleway:700');

* {
    box-sizing: border-box;
}

body {
    font: 14px Lato;
}

h1, h2 {
    text-transform: uppercase;
    font-family: Raleway;
}

h3, h4 {
    text-transform: uppercase;
    font-family: Lato;
}

.home, .services, .iphone, .our_work, .touch {
    width: 100%;
    height: 100vh;
    text-align: center;
}

.line {
    background-color: black;
    width: 86px;
    height: 2px;
    margin: auto;
    margin-bottom: 80px;
}

.button {
    display: block;
    width: 364px;
    height: 54px;
    border: 3px solid #222222;
    margin: 80px auto;
    text-transform: uppercase;
    color:  #222222;
    font: 400 24px Lato;/* Приближение из-за подстановки шрифтов */
    letter-spacing: 1px;
    background-color: #fff;
    outline: 0;

}

h2 {
    margin: 110px 0 75px 0;
}

.home {
    background: url('img/home_bc.png') fixed /* 100%  */#222222 ;;
    color:  #fffffe;

    position: relative;
}

    .home_menu {

        text-align: right;
        width: 80%;
        margin: auto;
        padding-top: 4%;
    }

        .home_menu img {
            float: left;
        }

        .home_menu a {
            text-decoration: none;
            color: #fffffe;
            font: 500 Lato;
            margin-left: 35px;
        }

    .home_text {
        width: 50%;
        height: 25%;
        margin: auto;
        text-align: center;
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
    }

        .home_text p {
            font: 500 22px/30px Lato;
        }

    .home_arrow {
        position: absolute;
        left: 0; bottom: 5%; right: 0;
    }

.services, .our_work {
    width: 1170px;
    margin: auto;

}

    .services_item {
        display: inline-block;
        width: 25%;
        padding: 0 2%;
    }

        .services_item h4 {
            margin: 50px 0 44px 0;
        }

.iphone {
    background: url('img/polygon.png') fixed #222222 ;
    color: #ffffff;
    overflow: hidden;
    position: relative;
    text-align: left;
}
        .iphone_content {
            width: 570px;
            float: left;
            position: absolute;
            bottom: 50px; left: 215px;
        }

            .iphone_content a {
                text-decoration: underline;
                cursor: pointer;
            }

            .iphone_text-hide {
                visibility: hidden;
            }

            .iphone_check {
                visibility: hidden;
            }

            .iphone_check:checked + .iphone_text-hide {
                visibility: visible;
            }

           .iphone img {
                float: right;
                position: absolute;
                bottom: 0px; right: 315px;
           }

.work_item {
    display: inline-block;
    width: 300px;
    height: 45%;
    overflow: hidden;
    margin: 0 7px;
    position: relative;

}

    .work_overlay {
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        color: #FFF;
        background-color: rgba(4, 4, 4, .5);
        text-align: center;
        font: 400 18px/60px Lato;
        text-transform: uppercase;
        padding-top: 30%;
        visibility: hidden;
    }

    .work_item:hover .work_overlay{
        visibility: visible;

    }

.touch {
    background: url('img/bg_touch.png') fixed #222222 ;
    color: #ffffff;
    overflow: hidden;
    position: relative;
}

    .touch_contain {
        width: 670px;
        margin: auto;
    }

    .touch .line {
        background-color: white;
        margin-bottom: 60px;
    }

    .social_button {
        height: 15px;
        margin: 0 12px 50px 12px;

    }

    .field {
        display: inline-block;
        width: 300px;
        background: none;
        border: none;
        border-bottom: 2px solid #afafaf;
        padding-left: 30px;
        outline: 0;

        font: italic 18px Lato;
        color:  #676767;
        font-size: ;/* Приближение из-за подстановки шрифтов */
        font-weight: 400;
        line-height: 40px;/* Приближение из-за подстановки шрифтов */
        text-align: left;
    }

    .field:first-of-type {
        margin-right: 60px;
    }

    .field-message {
        width: 100%;
        margin-top: 90px;
    }

    .touch .button {
        width: 177px;
        border: 3px solid white;
        color: white;
        background: none;

    }




