* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: linear-gradient(45deg, #ff512f 0%, #dd2476 100%);
    font: 14px Arial;
    color: #797b7f;
    line-height: 20px;
    margin: 0;

    position: relative;
}

.entrance {
    border-radius: 4px;
    background-color:  #ffffff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    max-width: 460px;
    height: 470px;
    padding: 30px;

    position: absolute;
    margin: auto;
    top: 0; right: 0; bottom: 0; left: 0;
}

h1 {
    font: 700 24px Arial;
    color:  #1b1c1d;

    display: inline-block;
    vertical-align: middle;
    padding-left: 10px;
    margin: 0;
}

img {
    vertical-align: middle;
}

P {
    font: 13px Arial;
    margin-bottom: 34px;
    line-height: 20px;
}

a {
    color:  #ea355a;
    text-decoration: none;
}

span {
    font-size: 12px;
    margin-top: 27px;
    display: inline-block;
}

input {
    border-radius: 4px;
    border: none;
    background-color:  #f0f0f0;
    width: 400px;
    height: 40px;
    margin-bottom: 14px;
    padding-left: 14px;

}

input:focus {
    outline: 1px solid #ea355a;
}

    :focus::-webkit-input-placeholder {color: transparent}
    :focus::-moz-placeholder          {color: transparent}
    :focus:-moz-placeholder           {color: transparent}
    :focus:-ms-input-placeholder      {color: transparent}

input[type="text"] {
    width: 193px;
}

    input[type="text"]:first-of-type {
        margin-right: 10px;
    }

button {
    border-radius: 4px;
    background-color:  #ea355a;
    box-shadow: 0px 3px 0px 0px #bd1962;
    width: 400px;
    height: 50px;
    border: none;

    font: 700 18px Arial;
    color:  #ffffff;
}

button:hover {
    cursor: pointer;
}


