@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrap {
  background-color: grey;
  padding: 34px;
  font: 600 13px/1 Montserrat, sans-serif;
  display: flex;
  height: 100vh;
  align-items: center;
}
.card {
  width: 336px;
  background: white;
  margin: auto;
}
.card_header {
  background: #efe5aa;
  padding: 24px;
  color: #6e7f7b;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
	.card_price {
		font: 600 36px Montserrat;
	}

	.card_title {
	  font: 700 14px Montserrat;
	  margin: 0;
	}

	.card_subtitle {
	  font-size: 10px;
	  text-transform: uppercase;
	  color:  #a6a28d;
	}

.card_main {
  margin: 24px;
  color:  #9eabad;
}

	.card_select {
	  font-size: 14px;
	  border: 2px solid #bac8cb;
	  width: 176px;
	  height: 44px;
	  display: block;
	  width: 100%;
	  -webkit-appearance: none;
	  background: transparent;
	  position: relative;
	  z-index: 2;
	  margin: 9px 0;
	  padding: 9px;
	  color:  #6e7f7b;
	}

	.card_input {
	  font-size: 14px;
	  width: 100%;
	  border: 1px solid #6e7f7b;
	  margin: 9px 0;
	  height: 44px;
	  border: 2px solid #bac8cb;
	  padding: 9px;
	}

	option {
		color:  #6e7f7b;
	}

	.card_input__cvv {
	  width: 100px;
	}
	.card_label {
	  display: block;
	  margin: 24px 0;
	  font-size: 0;
	}
	.card_caption {
	  font-size: 14px;
	}
	.card_hr {
	  border-color: #edf0f1;
	  margin: 30px 0;
	}
	.card_tooltip {
	  font-size: 12px;
	  margin-left: 10px;
	}
	.card_button {
	  background: green;
	  color: white;
	  border: 0;
	  padding: 16px;
	  font-size: 24px;
	  width: 100%;
	  cursor: pointer;
	}
	.card_select-wrap {
	  display: inline-block;
	  position: relative;
	  width: 50%;
	}

	.card_select-wrap:nth-of-type(1) {
		width: calc(70% - 16px);
		margin-right: 16px;
	}

	.card_select-wrap:nth-of-type(2) {
		width: 30%;
	}

	/* 	arrow style */

	.card_select-wrap::before,
	.card_select-wrap::after{
	  display: block;
	  position: absolute;
	  content: '';
	  border-style: solid;
	  border-width: 5px 5px 0px;
	  border-color: grey transparent;
	  right: 10px;
	  top: 26px;
	  z-index: 1;
	}

	.card_select-wrap::before {
	  margin: 2px 0;
	}
	.card_select-wrap::after {
	  border-color: white transparent;
	}

	.card_input:focus, .card_select:focus {
		outline: 2px solid #82d4e7;
	}

.card_cancel {
	display: block;
	text-align: center;
	margin: 22px;
	color:  #9eabad;
	text-decoration: none;
}

