* {
    transition: all .2s ease-in;
}
body {
    margin: 25px;
    border: 1px solid BurlyWood;
    border-radius: 10px;
    padding:10px;
    font-family: 'PT Serif', serif;
}

header {
    margin: 10px auto;
    text-align: center;
    width: 50%;
    background-color: BurlyWood;
    color: white;
    border: 1px solid BurlyWood;
    border-radius: 5px;
}

h1 {
    margin-bottom: 0;
}

h3 {
    margin-top: 0;
}

ul{
    margin: auto;
    list-style-type: none;
    width: 50%;
    padding: 0;
}

li{
    padding: 10px;
    border-radius: 5px;
    margin: 0;
    background-color: Cornsilk;
    font-size: 16px;
}

label {
    margin: 0;
    padding: 0;
    cursor: pointer;
}

label:nth-child(2n) {
    background-color: BlanchedAlmond;
}

input {
    margin-right: 10px;
}


li:nth-child(2n) {
    background-color: BlanchedAlmond;
}

li:hover {
    transform: scale(1.01);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

li:active {
    background-color: NavajoWhite;
}

div{
    width: 100%;
}

span:nth-child(2n+1){
    font-size: 10px;

}

span > span::before {
    content: "("
}

span > span::after {
    content: ")"
}

input:checked + span {
    text-decoration: line-through;
}

li:last-of-type {
/*     visibility: hidden; */
    background-color: Cornsilk;
    border-radius: 10px;
    padding: 15px 30px;
    margin: 10px 0;

}

li:last-of-type:hover, li:nth-last-of-type(2):hover {
    transform: none;
}

li:nth-last-of-type(2) {
    display: none;
    margin: 10px auto;
    background-color: BurlyWood;
    color: white;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}

