.contact-us {
	min-width: 1170px;
}

#map {
	height: 439px;
	width: 100%;
	min-width:1170px;
}

.footer {
	height: 260px;
	display: flex;
	flex-direction: column;
	padding: 70px 0;
	justify-content: space-around;

	a {
		padding: 5px;
	}

	h2 {
		padding: 0;
	}
}
