.contact-us {
  min-width: 1170px;
}
#map {
  height: 439px;
  width: 100%;
  min-width: 1170px;
}
.footer {
  height: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 70px 0;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.footer a {
  padding: 5px;
}
.footer h2 {
  padding: 0;
}
