.home {
	min-width: 1170px;
	background: url("../img/home.png");
	background-size: cover;
	position: relative;
	height: 100vh;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	h1 {
		font: 35px 'Source Sans Pro', sans-serif;
		color:  #fff;
		letter-spacing: 7px;
		text-transform: uppercase;
	}

	h2 {
		font-size: ~"16px/28px";
		color:  #fff;
	}

	h2 + a {
		position: absolute;
		bottom: 70px;
		padding: 0;

		&:hover {
			border: 1px solid transparent;
		}
	}
}

.menu {
	width: 1170px;
	position: absolute;
	top: 40px;
	display: flex;
	justify-content: space-between;
}
