.home {
  min-width: 1170px;
  background: url("../img/home.png");
  background-size: cover;
  position: relative;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.home h1 {
  font: 35px 'Source Sans Pro', sans-serif;
  color: #fff;
  letter-spacing: 7px;
  text-transform: uppercase;
}
.home h2 {
  font-size: 16px/28px;
  color: #fff;
}
.home h2 + a {
  position: absolute;
  bottom: 70px;
  padding: 0;
}
.home h2 + a:hover {
  border: 1px solid transparent;
}
.menu {
  width: 1170px;
  position: absolute;
  top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
