@import url('home.css');
@import url('portfolio.css');
@import url('team.css');
@import url('small-contact.css');
@import url('testimonials.css');
@import url('contact-us.css');
/* font-styles */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Source+Sans+Pro:300');
/* general */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  color: #81868e;
  font: 14px/25px 'Open Sans', sans-serif;
  text-align: center;
}
h1 {
  font: 20px 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 70px 0 40px;
  text-transform: uppercase;
  color: #333b46;
}
h2 {
  font: 14px/25px 'Open Sans', sans-serif;
  margin: 0;
  padding-bottom: 70px;
  color: #81868e;
}
a {
  color: #fff;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 30px;
  padding: 5px 24px;
}
a:hover {
  border: 1px solid #fff;
  cursor: pointer;
}
span {
  color: #19bd9a;
  font-weight: 700;
}
