.portfolio {
	min-width: 1170px;
	background: #f3f3f3;
padding-bottom: 70px;
}

.portfolio-selection {
	a {
		color:  #464646;
		display: inline;
		font-size: 16px;
		position: relative;
	}

	a:hover {
		border-color: transparent;

		&:before {
			content: "";
			background-color:  #19bd9a;
			width: 38px;
			height: 2px;
			position: absolute;
			margin: auto;
			left: 0; right: 0;
			bottom: -10px;

		}
	}

	padding-bottom: 70px;
}

.portfolio-container {
	margin: auto;
	max-width: 1170px;
}

.portfolio-item {
	overflow: hidden;
	float: left;
	width: 270px;
	height: 360px;
	margin-bottom: 10px;
}

.portfolio-item--height2 { height: 230px; }
.portfolio-item--height3 { height: 301px; }
.portfolio-item--height6 { height: 344px; }
.portfolio-item--height7 { height: 374px; }
.portfolio-item--height8 { height: 269px; }
.portfolio-item--height9 { height: 209px; }
.portfolio-item--height10 { height: 357px; }
.portfolio-item--height11 { height: 255px; }

.portfolio-item img {
	margin: auto;
}
