.small-contact {
  min-width: 1170px;
  height: 201px;
  background: url("../img/bg.png");
  background-size: cover;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
}
.small-contact h1 {
  text-transform: none;
  padding: 0;
  color: #FFF;
}
.small-contact a {
  border: 1px solid #fff;
  margin-top: 30px;
}
