.small-contact {
	min-width: 1170px;
	height: 201px;
	background: url("../img/bg.png");
	background-size: cover;
	filter: grayscale(100%);

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	color: #fff;

	h1 {
		text-transform: none;
		padding: 0;
		color: #FFF;
	}

	a {
		border: 1px solid #fff;
		margin-top: 30px;
	}
}
