.team {
	min-width: 1170px;
}

.team-container {
	width: 1030px;
	margin: auto;
	padding-bottom: 100px;
}

.team-item {
	position: relative;

	&_photo {
		display: inline-block;
		vertical-align: top;
		margin-right: 70px;

	}
	&_text {
		display: inline-block;
		width: 400px;
		text-align: right;
		vertical-align: top;
		position: relative;
		top: 40px;
		margin-left: 20%;

		&:before {
			content: "";
			background-color:  #19bd9a;
			width: 4px;
			height: 42px;
			position: absolute;
			top: 5px;
			right: -20px
		}
	}


}
