.testimonials {
  min-width: 1170px;
  background: #f3f3f3;
  padding-bottom: 100px;
}
.testimonials-container {
  width: 1170px;
  height: 316px;
  background: #fff;
  margin: auto;
}
.testimonials-item {
  padding-top: 50px;
}
.testimonials-item_photo {
  display: inline-block;
  vertical-align: top;
  margin-right: 70px;
}
.testimonials-item_text {
  display: inline-block;
  width: 750px;
  text-align: left;
  vertical-align: top;
}
