.background {
  background-size: cover;
  background-position: bottom;
}
.position-center {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.home {
  background: url("img/backgrounds/home.png");
  background-size: cover;
  background-position: bottom;
  position: relative;
  height: 100vh;
}
.home > .wrap {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
}
.home .h1 {
  font: 700 48px 'Josefin Sans', sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  margin: 50px 0 15px ;
  letter-spacing: 5px;
}
.home .h2 {
  font: 400 22px 'Josefin Sans', sans-serif;
  letter-spacing: 6px;
}
.home .search {
  background-color: #ffffff;
  width: 500px;
  height: 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 50px auto;
}
.home .search .button {
  border-width: 2px;
  border-color: #ffffff;
  border-style: solid;
  background-color: #5474fd;
  width: 146px;
  height: 58px;
}
.home .search_line,
.home .search_line:focus {
  border: 0;
  margin: auto;
  height: 100%;
  outline: 0;
  color: #999999;
}
.home .scroll {
  margin-top: 2%;
  text-align: center;
}
.home .scroll a {
  font-size: 14px;
}
.menu {
  background-color: #5474fd;
  height: 80px;
  text-transform: uppercase;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  top: auto;
}
.menu .wrap {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  /* я пыталась */
  /* 		display: -ms-flexbox;
		-ms-flex-pack: justify; */
}
.menu_item {
  margin-left: 40px;
  font: 400 14px/26px Aleo, serif;
  vertical-align: middle;
}
.menu_item:nth-of-type(1) {
  margin-right: auto;
  font: 700 24px/26px 'Josefin Sans', sans-serif;
}
