@import url('mixin.less');

.proposal {
	background: url("img/backgrounds/prop1.png");
	.background;
	height: 685px;

	.wrap {
		justify-content: flex-start;
	}

	&_item {
		background-color:  rgba(35, 35, 35, 0.9);
		width: 540px;

		padding: 50px 30px;
}

	.h2 {
		font: 400 16px/26px @fontMain;
	}

	.h1 {
		font: 400 20px/26px @fontMain;
		margin: 30px 0;
	}

	.button {
		margin-top: 50px;
	}



	&:nth-of-type(2n+1) {
		background: url("img/backgrounds/prop2.png");
		.background;
		.wrap {
			justify-content: flex-end;
		}
	}


}

