.background {
  background-size: cover;
  background-position: bottom;
}
.position-center {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.stages {
  background-size: cover;
  background-position: bottom;
  background: #333333;
  height: 337px;
  overflow: hidden;
}
.stages .wrap {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  position: relative;
}
.stages .wrap:before {
  content: "";
  display: block;
  width: 100%;
  height: 50%;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  top: auto;
  z-index: 2;
  background: #333333;
}
.stages_item {
  text-align: center;
}
.stages_item:nth-of-type(2):before {
  content: "";
  display: block;
  width: 450px;
  height: 450px;
  border-radius: 50%;
  border: 1px dotted #fff;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  top: 75%;
  left: -35%;
  z-index: 1;
}
.stages_item:nth-of-type(2):after {
  content: "";
  display: block;
  width: 450px;
  height: 450px;
  border-radius: 50%;
  border: 1px dotted #fff;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  top: 75%;
  right: -35%;
}
.stages_item img {
  position: relative;
  z-index: 3;
}
.stages_item h1 {
  position: relative;
  z-index: 3;
}
.stages .h1 {
  font: 400 36px/26px Aleo, serif;
}
