@color-main: #ffcc00; // yellow

@font-family-secondary: 'Open Sans', sans-serif;
@font-family-main: 'Raleway', sans-serif;
@font-family-accent: 'Roboto', sans-serif;

._font(@size: 24px; @weight: bold; @font-family: @font-family-main) {
    font: @weight ~'@{size}/1.2' @font-family;
}



/*     block photo */
    .photo {
        @border-width: 1px;
        border: @border-width solid @color-main;
        padding: 15px;
        position: relative;
        display: inline-block;
        &::before,
        &::after {
            position: absolute;
            content: '';
            z-index: 1;
            top: -@border-width;
            left: -@border-width;
        }
        &::before {
            width: 50%;
            margin: 0 25%;
            height: ~'calc(100% + @{border-width} * 2)';
        }
        &::after {
            height: 50%;
            margin: 25% 0;
            width: ~'calc(100% + @{border-width} * 2)';
        }
        &_image {
            position: relative;
            z-index:2;
            display: block;
            border: @border-width solid @color-main;
        }
    }



