@colorMain: #ffcc00; // yellow

@fontFamilySecondary: 'Open Sans', sans-serif;
@fontFamilyMain: 'Raleway', sans-serif;
@fontFamilyAccent: 'Roboto', sans-serif;
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    font: 500 14px/24px @fontFamilyMain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    min-height: 100vh;
}

.h1 {
    font: 800 60px @fontFamilyAccent;
    color: @colorMain;
}

.h2 {
    color:  #898f8f;
    font: 500 18px @fontFamilyMain;/* Приближение из-за подстановки шрифтов */
}

.h4 {
    font: 400 24px @fontFamilyMain;
    margin: 70px 0 30px;
}

.header-main {
    margin-top: 60px;
}

.line {
    width: 450px;
    height: 1px;
    background: @colorMain;
    position: relative;
    margin: 30px auto;

    & img {
        background: #FFF;
        position: absolute;
        margin: auto;
        top: 0;bottom: 0;right: 0;left: 0;
        padding: 10px;
    }
}

.main {
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1100px;

    .line {
        background-color:  @colorMain;
        width: 1px;
        height: 560px;
        margin: 0 8%;
    }

    .h3 {
        color:  #666666;
        font: 800 36px @fontFamilyAccent;

    }

    .h4 {

        position: relative;
        &::before {
            background-color:  @colorMain;
            width: 100px;
            height: 1px;
            position: absolute;
            content: '';
            margin: auto;
            top: -35px; right: 0;left: 0;
        }
    }
}

.section {
    width: 390px;
}

.arrow {
    width: 20px;
    height: 20px;
    border-radius: 10%;
    border: 2px solid transparent;
    border-color: transparent transparent @colorMain @colorMain;
}

.arrow--left {
    transform: rotate(45deg);
    margin-right: 45px;
}

.arrow--right {
    transform: rotate(225deg);
    margin-left: 45px;
}


/* block photo */
.photo {
    @borderWidth: 1px;
    display: inline-block;
    border: @borderWidth solid @colorMain;
    padding: 15px;
    position: relative;
    width: 100%;

    &::before,
    &::after {
        position: absolute;
        content: '';
        background: white;
        z-index: 1;
        top: -@borderWidth;
        left: -@borderWidth;
    }
    &::before {
        width: 50%;
        margin: 0 25%;
        height: ~'calc(100% + @{borderWidth} * 2)';
    }
    &::after {
        height: 50%;
        margin: 25% 0;
        width: ~'calc(100% + @{borderWidth} * 2)';
    }
    &_image {
        position: relative;
        z-index: 2;
        display: block;
        border: @borderWidth solid @colorMain;
        width: 100%;

    }


}
/* end:block photo */

.profile {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 100%;

    &_info {
        margin: 30px 0 50px;
    }
}

.button {
    font-family: @fontFamilySecondary;
    color:  #666666;
    background: #FFF;
    text-transform: uppercase;
    border: 1px solid @colorMain;
    width: 118px;
    height: 22px;

}

.pagination_item {
    display: inline-block;
    border-radius: 50%;
    background-color: @colorMain;
    width: 10px;
    height: 10px;
    margin-bottom: 20px;
}

.pagination_item--active {
    background-color: #fff;
    border: 1px solid @colorMain;
}



