* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font: 500 14px/24px 'Raleway', sans-serif;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  text-align: center;
  min-height: 100vh;
}
.h1 {
  font: 800 60px 'Roboto', sans-serif;
  color: #ffcc00;
}
.h2 {
  color: #898f8f;
  font: 500 18px 'Raleway', sans-serif;
  /* Приближение из-за подстановки шрифтов */
}
.h4 {
  font: 400 24px 'Raleway', sans-serif;
  margin: 70px 0 30px;
}
.header-main {
  margin-top: 60px;
}
.line {
  width: 450px;
  height: 1px;
  background: #ffcc00;
  position: relative;
  margin: 30px auto;
}
.line img {
  background: #FFF;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 10px;
}
.main {
  margin: 40px auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 1100px;
}
.main .line {
  background-color: #ffcc00;
  width: 1px;
  height: 560px;
  margin: 0 8%;
}
.main .h3 {
  color: #666666;
  font: 800 36px 'Roboto', sans-serif;
}
.main .h4 {
  position: relative;
}
.main .h4::before {
  background-color: #ffcc00;
  width: 100px;
  height: 1px;
  position: absolute;
  content: '';
  margin: auto;
  top: -35px;
  right: 0;
  left: 0;
}
.section {
  width: 390px;
}
.arrow {
  width: 20px;
  height: 20px;
  border-radius: 10%;
  border: 2px solid transparent;
  border-color: transparent transparent #ffcc00 #ffcc00;
}
.arrow--left {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-right: 45px;
}
.arrow--right {
  -webkit-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  transform: rotate(225deg);
  margin-left: 45px;
}
/* block photo */
.photo {
  display: inline-block;
  border: 1px solid #ffcc00;
  padding: 15px;
  position: relative;
  width: 100%;
}
.photo::before,
.photo::after {
  position: absolute;
  content: '';
  background: white;
  z-index: 1;
  top: -1px;
  left: -1px;
}
.photo::before {
  width: 50%;
  margin: 0 25%;
  height: calc(100% + 1px * 2);
}
.photo::after {
  height: 50%;
  margin: 25% 0;
  width: calc(100% + 1px * 2);
}
.photo_image {
  position: relative;
  z-index: 2;
  display: block;
  border: 1px solid #ffcc00;
  width: 100%;
}
/* end:block photo */
.profile {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  height: 100%;
}
.profile_info {
  margin: 30px 0 50px;
}
.button {
  font-family: 'Open Sans', sans-serif;
  color: #666666;
  background: #FFF;
  text-transform: uppercase;
  border: 1px solid #ffcc00;
  width: 118px;
  height: 22px;
}
.pagination_item {
  display: inline-block;
  border-radius: 50%;
  background-color: #ffcc00;
  width: 10px;
  height: 10px;
  margin-bottom: 20px;
}
.pagination_item--active {
  background-color: #fff;
  border: 1px solid #ffcc00;
}
