.about {
	padding: 125px 0;
	&-text {
		margin: 60px auto;
		text-align: left;
		max-width: 630px;
		padding-left: 20px;
	}

	@media (min-width: 991px) {
		.wrap {
			flex-direction: row;
			justify-content: space-around;
		}
		.title--block {
			width: 380px;
			height: 555px;
		}
	}
}

