.contact {
	position: relative;
	background: $colorMainDark;

	.title {
		position: absolute;
		z-index: 5;
		margin: auto; top: 50px; right: 0; left: 0;
	}

	&-info {
		position: absolute;
		z-index: 5;
		margin: auto; top: 220px; right: 0;
		background-color: rgba(235, 235, 235, 0.5);
		width: 300px;
		height: 60px;
		font-size: 0;
		text-align: left;
		transform: translateX(240px);

		&:hover {
			transform: translateX(0px);
		}

		div {
			display: inline-block;
			font-size: 14px;
			vertical-align: top;
		}
		&__img {
			width: 60px;
			height: 60px;
			background: $colorMain;
			display: flex;
			position: relative;
			img {
				position: absolute;
				margin: auto; top: 0; right: 0; left: 0; bottom: 0;
			}
		}
		&__text {
			text-align: left;
			padding: 8px 20px;
		}

		&--number {
			top: 280px;
		}
	}


	form {
		position: absolute;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: auto; bottom: 0px; right: 0; left: 0;
		z-index: 5;
		max-width: 860px;

		& > div {
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			text-align: center;
		}
	}

	input {
		font-size: 18px;
		color: #FFF;
		outline: none;
		border-radius: 4px;
		border: none;
		background-color:  rgba(235, 235, 235, 0.5);
		width: 414px;
		height: 56px;
		margin-bottom: 25px;
		padding-left: 20px;

		&.text {
			width: 100%;
			height: 200px;
			margin: 0;
		}

		&.submit {
			border-radius: 4px;
			background-color:  #9f9acf;
			border-bottom: 4px solid $colorMainDark;
			width: 293px;
			height: 70px;
			margin: 55px 0;
			font: 700 20px $fontHeadings;
			text-transform: uppercase;
			color: #FFF;
			padding: 0;
			cursor: pointer;
		}

	}
}

.top-arrow {
	position: absolute;
	z-index: 5;
	margin: auto; bottom: 46px; right: 129px;
	background-color:  rgba(159, 154, 207, 0.5);
	width: 84px;
	height: 84px;

	@media (max-width: 991px) {
		display: none;
	}

	img {
		position: absolute;
		margin: auto; top: 0; right: 0; left: 0; bottom: 0;
	}
}

#map {
	height: 900px;
	position: relative;
	z-index: 2;
	top: 0;
	opacity: .4;
}

::-webkit-input-placeholder {color:#FFF; font-style: italic;}
::-moz-placeholder          {color:#FFF; font-style: italic;}
:-moz-placeholder           {color:#FFF; font-style: italic;}
:-ms-input-placeholder      {color:#FFF; font-style: italic;}
:focus::-webkit-input-placeholder {color: transparent}
:focus::-moz-placeholder          {color: transparent}
:focus:-moz-placeholder           {color: transparent}
:focus:-ms-input-placeholder      {color: transparent}
