.footer {
	height: 185px;
	background: $colorMain;
	color: #FFF;
	text-align: center;

	.wrap {
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		text-align: center;
	}


}
