.header {
	background: url('../img/hero.png');
	background-size: cover;
	background-position: center;
	height: 100vh;

	&__title {
		margin: auto;
	}

	.subtitle {
		max-width: 656px;
		color: #FFF;
	}

	@media (min-width: 991px) {
		h1 {
			font: 700 70px $fontHeadings;
		}
		.subtitle {
			font-size: 30px;
		}
	}
}

.nav {
	// position: fixed;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding-top: 20px;

}

.menu__icon {
	color: #FFF;
	@media (min-width: 991px) {
		display: none;
	}
}

.menu__items {
	& > a {
		padding: 0 20px;
		@media (max-width: 991px) {padding: 0;}
	}
	@media (max-width: 991px) {
		margin-top: 50px;
		display: flex;
		width: 100%;
		justify-content: space-around;
		position: absolute;
		right: 0;

		a {
			font-size: 14px;
		}
	}
}
