/* font-styles */
@import 'https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700';

@font-face {
  font-family: ProximaNova;
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.eot);
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.eot?#iefix) format("embedded-opentype"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.woff2) format("woff2"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.woff) format("woff"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.ttf) format("truetype"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.svg#wf) format("svg");
  font-weight: 300;
  font-style: normal
}

@font-face {
  font-family: ProximaNova;
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.eot);
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.eot?#iefix) format("embedded-opentype"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.woff2) format("woff2"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.woff) format("woff"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.ttf) format("truetype"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.svg#wf) format("svg");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: ProximaNova;
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.eot);
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.eot?#iefix) format("embedded-opentype"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.woff2) format("woff2"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.woff) format("woff"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.ttf) format("truetype"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.svg#wf) format("svg");
  font-weight: 700;
  font-style: normal
}

$fontMain: 'PT Sans';
$fontHeadings: 'ProximaNova';
$fontColor: #665f60;
$colorMain: #9f9acf;
$colorMainDark: #8783b0;
$colorMainLight: #dbdbdb;

/* general */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	transition: all .5s ease-in;
}

body {
	text-align: center;
	font: 400 20px $fontMain;
	color: $fontColor;
	background: #ebebeb;
	overflow-x: hidden;
}

h1 {
	font: 400 36px $fontHeadings;
	color: #fff;
	text-transform: uppercase;
	padding: 30px 0;
}

a {
	text-decoration: none;
	color: #FFF;
	font: 400 24px $fontHeadings;
	text-transform: uppercase;
}


button {
	display: block;
	margin: 60px auto;
	background: transparent;
	border: 1px solid $colorMainDark;
	width: 193px;
	height: 48px;
	color: $colorMainDark;
	font: italic 20px $fontMain;
	cursor: pointer;
	outline: none;
}

.wrap {
	max-width: 1170px;
	margin: auto;
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 0 20px;
}

.subtitle {
	font: italic 18px $fontMain;
	margin: auto;
}

.title {
	padding: 30px 0;
	&--block {
		background: url(../img/about.png);
		background-size: cover;
		background-position: center;
		padding: 70px 0;
	}
}

.social {
	background: $colorMain;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
	@media (max-width: 600px) { margin: auto; }
	a {
		margin: 0 5px;
	}
}

/* slick */

.slick-dots {
	bottom: -110px;
	margin: 0;
	font-style: normal;
}

.slick-arrow {
	margin: 0;
	font-style: normal;
}

.slick-prev::before {
	background: url('../img/icons/interface - arrow left.svg');
	}
.slick-next{
	right: 0;
	&::before {
	background: url('../img/icons/interface - arrow right.svg');
	}
}
.slick-prev:before, .slick-next:before {
	background-repeat: no-repeat;
	color: transparent;
	font-size: 50px;
	@media (max-width: 991px) {
		display: none;
	}
}

li button {
	font-style: normal;
}


@import 'header.scss';
@import 'about.scss';
@import 'services.scss';
@import 'works.scss';
@import 'our-team.scss';
@import 'contact.scss';
@import 'footer.scss';
