.our-team {
	padding: 40px 10px 80px;
	.title h1 {
		color: $fontColor;
	}
}

.team-gallery {

	&__item {
		height: 350px;
		background: #FFF;
		position: relative;
		width: 350px;
		margin: 120px 15px 0px;
		& > * {
			position: relative;
			top: -120px; margin: auto;
		}
		.name {
			font: 700 24px $fontHeadings;
			text-transform: uppercase;
			padding: 15px 0;
			color: $colorMain;
		}
		.subtitle {
			padding: 15px 0;
		}
		@media (max-width: 991px) {
			.photo {
				width: 180px;

			}
			.photo, .name, .subtitle {
				top: -50px;
			}
		}
		.social {
			position: absolute;
			top: auto; bottom: 0; margin: 0; width: 100%;
		}

	}

	.slick-prev::before {
		background-image: url('../img/icons/interface - arrow left color.svg');
		}
	.slick-next {
		right: -25px;
		&::before {
		background-image: url('../img/icons/interface - arrow right color.svg');
		}
	}

}




