.services-list__item:nth-child(even) {
	background: $colorMainLight;
}
.title--services h1 {
	padding: 20px 0;
	color: $fontColor;
	font: 700 24px $fontMain;
}
.services {
	.title--block {
		background: url(../img/services.png);
		.subtitle {
			color: #FFF;
		}
	}

	@media (min-width: 991px) {
		.wrap {
			flex-direction: row-reverse;
		}
		.title--block {
			width: 410px;
			height: 799px;
			padding: 100px 30px;
			.subtitle {
				padding-top: 125px;
			}
		}
		.services-list {
			display: flex;
			flex-wrap: wrap;
			width: 760px;

			&__item {
				width: 50%;
				background: none;
				display: flex;
				&:nth-child(3n+1) {
					background: $colorMainLight;
				}
				.title--services {
					margin: auto;
				}
			}

			.subtitle {
				max-width: 200px;
			}
		}
	}
}

