* {
    box-sizing: border-box;
    font-family: Lucida Sans Unicode;


}

body {
    background-color: #3399CC;

}

h1{
    max-width: 804px;
    margin: auto;
}

ul {
    list-style-type: none;
    border: 2px solid white;
    padding: 0;
    max-width: 1000px;
    margin: auto;
}

li {
    display: block;
    height: 100px;
    width: 100%;
    background-color: #3377FF;
    margin: auto;
    border: 2px solid white;
    text-align: center;
    padding: 10px;

}

p {
    display: inline-block;
    vertical-align: middle;
    color: white;
    margin: 0;
    font-size: 16px;
}

div{
    background-color: white;
    max-width: 1000px;
    margin: auto;
}

ul:hover li{
    opacity: 0.4;
}

ul li:hover {
    opacity: 1;
}

p.temperature {
    color: lightgrey;
}


i {
    color: lightgrey;

}

.europe {
    background-color: #FFA07A;
}

.asia {
    background-color: #98FB98;
}

.america {
    background-color: #FFB6C1;
}

.other {
    background-color: #87CEEB;
}

@media screen and (min-width: 480px) {

    li {
        display: inline-block;
        width: 25%;
    }

    li.two {
        width: 50%;
        min-width: 200px;
    }

    li.four {
        width: 100%;

    }


}
