@import url("https://fonts.googleapis.com/css?family=Roboto");
@font-face {
  font-family: 'bebas_neuebold';
  src: url('../fonts/BebasNeueBold.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'bebas_neuelight';
  src: url('../fonts/BebasNeueLight.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'bebas_neue_regular';
  src: url('../fonts/BebasNeueRegular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'bebas_neuethin';
  src: url('../fonts/BebasNeueThin.otf');
  font-weight: normal;
  font-style: normal;
}
@-webkit-keyframes pop {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  75% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes pop {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  75% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
._position-abs-center {
  position: absolute;
  margin: auto;
  bottom: 0;
  left: 0;
  right: 0;
  top: auto;
}
body {
  font: 16px Roboto;
  background: #9789f9;
}
html,
body {
  height: 100%;
}
/* Layout */
.ba-container {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1200px;
}
/* Typography */
a,
input[type="submit"],
input[type="button"],
button {
  -webkit-transition: color 0.3s ease-in, border-color 0.3s ease-in, background-color 0.3s ease-in, opacity 0.3s ease-in;
  -o-transition: color 0.3s ease-in, border-color 0.3s ease-in, background-color 0.3s ease-in, opacity 0.3s ease-in;
  transition: color 0.3s ease-in, border-color 0.3s ease-in, background-color 0.3s ease-in, opacity 0.3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button {
  display: inline-block;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {
  -webkit-transition: color 0.3s ease-in, border-color 0.3s ease-in, background-color 0.3s ease-in, opacity 0.3s ease-in;
  -o-transition: color 0.3s ease-in, border-color 0.3s ease-in, background-color 0.3s ease-in, opacity 0.3s ease-in;
  transition: color 0.3s ease-in, border-color 0.3s ease-in, background-color 0.3s ease-in, opacity 0.3s ease-in;
}
main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}
.no-flexbox main {
  height: 100%;
}
.ba-pricing {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: auto;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  text-align: center;
}
.no-flexbox .ba-pricing::before {
  display: inline-block;
  content: "";
  height: 100%;
  width: 0;
  vertical-align: middle;
}
.ba-pricing__col {
  background: #f5f4f9;
  width: 330px;
  height: 615px;
  margin: 0 11px;
  padding-bottom: 60px;
}
.no-flexbox .ba-pricing__col {
  display: inline-block;
  vertical-align: middle;
}
.ba-pricing__col:hover .ba-button {
  -webkit-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  transform: translateY(-40px);
  -webkit-transition: 0.2s all ease-in;
  -o-transition: 0.2s all ease-in;
  transition: 0.2s all ease-in;
}
.ba-pricing__col--center {
  height: 690px;
  position: relative;
}
.ba-pricing__col--center .ba-button {
  background: #fd8d7b;
  margin-top: 100px;
  position: absolute;
  margin: auto;
  bottom: 0;
  left: 0;
  right: 0;
  top: auto;
  bottom: -120px;
}
.ba-pricing__col--center::after {
  content: 'Ordernow &  get 15% Discount';
  color: #a9a9a9;
  font: 11px Roboto;
  position: absolute;
  margin: auto;
  bottom: 0;
  left: 0;
  right: 0;
  top: auto;
  bottom: 30px;
  opacity: 0;
}
.ba-pricing__col--center:hover .ba-button {
  -webkit-transform: translateY(-90px);
  -ms-transform: translateY(-90px);
  transform: translateY(-90px);
}
.ba-pricing__col--center:hover:after {
  opacity: 1;
  -webkit-transition-delay: .1s;
  -o-transition-delay: .1s;
  transition-delay: .1s;
}
.ba-pricing__col--center::before {
  border-radius: 50%;
  background-color: #fd8d7b;
  width: 46px;
  height: 46px;
  content: 'P';
  color: #a9a9a9;
  font: 400 24px bebas_neue_regular;
  position: absolute;
  margin: auto;
  bottom: 0;
  left: 0;
  right: 0;
  top: auto;
  top: 20px;
  bottom: auto;
  left: auto;
  right: 20px;
  color: #FFF;
  padding: 2%;
}
.ba-price {
  text-align: center;
  position: relative;
}
.ba-price__rate {
  margin: 30px 0 20px;
  font: 60px/50px 'bebas_neuelight';
}
.ba-price__rate::before {
  content: '$ ';
  font-size: 24px;
  vertical-align: text-top;
}
.ba-price__rate::after {
  content: "/HR";
  font: 16px 'bebas_neue_regular';
  vertical-align: baseline;
}
.ba-price__position {
  text-transform: uppercase;
  font: 24px/36px 'bebas_neue_regular';
  margin: 0 0 30px;
}
.ba-price__body {
  overflow: hidden;
  position: relative;
  height: 395px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.ba-price__body ul {
  position: relative;
  z-index: 1;
  list-style: none;
  text-align: left;
  padding: 60px 0 0;
  margin: auto;
  line-height: 53px;
}
.ba-price__body::before {
  display: block;
  content: " ";
  border-radius: 50%;
  width: 700px;
  height: 1000px;
  background: #FFF;
  position: absolute;
  margin: 0 -175px;
}
.ba-price__body::after {
  display: block;
  content: " ";
  background: url('../col.png');
  position: absolute;
  margin: auto;
  bottom: 0;
  left: 0;
  right: 0;
  top: auto;
  top: 35px;
  bottom: auto;
  width: 36px;
  height: 36px;
  z-index: 1;
}
.ba-pricing__col--center .ba-price__body {
  height: 425px;
}
.ba-button {
  text-decoration: none;
  width: 210px;
  height: 55px;
  border-radius: 100px;
  background: #6fcffb;
  position: relative;
  padding-top: 18px;
  position: absolute;
  margin: auto;
  bottom: 0;
  left: 0;
  right: 0;
  top: auto;
  bottom: -70px;
  font: 18px 'bebas_neue_regular';
  color: #FFF;
}
