@import url("https://fonts.googleapis.com/css?family=Roboto");

@font-face {
    font-family: 'bebas_neuebold';
    src: url('../fonts/BebasNeueBold.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bebas_neuelight';
    src: url('../fonts/BebasNeueLight.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bebas_neue_regular';
    src: url('../fonts/BebasNeueRegular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bebas_neuethin';
    src: url('../fonts/BebasNeueThin.otf');
    font-weight: normal;
    font-style: normal;
}

@keyframes pop {
    0% {
        transform: scale(0)
    }

    75% {
        transform: scale(1.2)
    }

    100% {
        transform: scale(1)
    }
}

._position-abs-center {
	position: absolute;
	margin: auto;
	bottom: 0; left: 0; right: 0; top: auto;
}

body{
	font: 16px Roboto;
	background: #9789f9;

}

html,
body {
	height: 100%;
}

/* Layout */
.ba-container{
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1200px;
}

/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
  transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
  display: inline-block;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {
  transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}

main {
	display: flex;
	height: 100vh;
	.no-flexbox & {
		height: 100%;
	}
}

.ba-pricing {
	display: flex;
	justify-content: center;
	margin: auto;
	align-items: center;
	height: 100%;
	text-align: center;

	.no-flexbox &::before {
		display: inline-block;
		content: "";
		height: 100%;
		width: 0;
		vertical-align: middle;
	}

	&__col {
		background: #f5f4f9;
		width: 330px;
		height: 615px;
		margin: 0 11px;
		padding-bottom: 60px;
		.no-flexbox & {
			display: inline-block;
			vertical-align: middle;
		}
		&:hover .ba-button{
			transform: translateY(-40px);
			transition: .2s all ease-in;
		}
	}

	&__col--center {
		height: 690px;
		position: relative;

		.ba-button {
			background: #fd8d7b;
			margin-top: 100px;
			._position-abs-center;
			bottom: -120px;
		}

		&::after {
			content: 'Ordernow &  get 15% Discount';
			color: #a9a9a9;
			font: 11px Roboto;
			._position-abs-center;
			bottom: 30px;
			opacity: 0;
		}

		&:hover .ba-button{
			transform: translateY(-90px);

		}

		&:hover:after{
			opacity: 1;
			transition-delay: .1s;
		}

		&::before {
			border-radius: 50%;
			background-color:  #fd8d7b;
			width: 46px;
			height: 46px;
			content: 'P';
			color: #a9a9a9;
			font: 400 24px bebas_neue_regular;
			._position-abs-center;
			top: 20px; bottom: auto; left: auto; right: 20px;
			color: #FFF;
			padding: 2%;

		}

	}

}

.ba-price {
	text-align: center;
	position: relative;
	&__rate {
		margin: 30px 0 20px;
        font: 60px/50px 'bebas_neuelight';
        &::before {
            content: '$ ';
            font-size: 24px;
            vertical-align: text-top;
        }
        &::after {
            content: "/HR";
            font: 16px 'bebas_neue_regular';
            vertical-align: baseline;
        }
	}

	&__position {
		text-transform: uppercase;
		font: 24px/36px 'bebas_neue_regular';
		margin: 0 0 30px;
	}

	&__body {
		overflow: hidden;
		position: relative;
		height: 395px;
		display: flex;

		ul {
			position: relative;
			z-index: 1;
			list-style: none;
			text-align: left;
			padding: 60px 0 0;
			margin: auto;
			line-height: 53px;
		}

		&::before {
			display: block;
			content: " ";
			border-radius: 50%;
			width: 700px;
			height: 1000px;
			background: #FFF;
			position: absolute;
			margin: 0 -175px;

		}

		&::after {
			display: block;
			content: " ";
			background: url('../col.png');
			._position-abs-center;
			top: 35px; bottom: auto;

			width: 36px;
			height: 36px;
			z-index:1;
		}

		.ba-pricing__col--center & {
			height: 425px;
		}
	}
}

.ba-button {
	text-decoration: none;
	width: 210px;
	height: 55px;
	border-radius:  100px;
	background: #6fcffb;
	position: relative;
	padding-top: 18px;
	._position-abs-center;
	bottom: -70px;
	font: 18px 'bebas_neue_regular';
	color: #FFF;

}

