@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

@font-main: Lato, sans-serif;

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font: 300 16px/26px @font-main;
	margin: 0;
	padding-top: 0;
}


.h1 {
	font: 700 34px @font-main;
	text-align: center;
	text-transform: uppercase;
	padding: 0 5%;
	letter-spacing: 4px;
	margin-bottom: -140px;
	position: absolute;
	margin: auto;
	top: -20px; bottom: 0; left: 0; right: 0;

}

.h2 {
	font: 700 20px @font-main;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.scroll {
	margin-top: auto;
	margin-bottom: 115px;
	display: inline-block;

	img {
	margin: auto;
	}
}

.wrap {
	margin: 120px auto;
	width: 900px;
	text-align: center;
	padding: 77px 14% 30px;
	position: relative;
}

.wrap--box {
	border: 2px solid black;
	border-width: 0 2px 2px 2px;
	position: relative;
	&:before,
	&:after {
		display: block;
		content: '';
		position: absolute;
		height: 2px;
		width: 25%;
		background: black;
		top: 0;
	}

	&:before {
		left: 0;
	}

	&:after {
		right: 0;
	}
}

.home {
	display: flex;
	height: 100vh;
	background: #adb8cd url('img/hero-bg.jpg');
	background-size: cover;
	color: #FFF;
	flex-direction: column;
	position: relative;

	.h1 {
		background: none;
		margin-bottom: 20px;
		position: static;
	}

	.h2 {
		font: 400 15px/29px @font-main;
	}


}

.about {
	line-height: 24px;
}

.services {
	display: flex;
	flex-direction: column;
	background: #adb8cd url('img/services.jpg');
	background-size: cover;
	height: 488px;
	color: #FFF;

	.wrap--box {
		border-color: #FFF;

		&:before,
		&:after {
			background: #FFF;
		}
	}
}

.we-do {
	.h2 {
		margin: 30px auto;
	}
	p {
		margin-bottom: 110px;
		font: 300 14px/26px Lato;
		color:  #3c3c3c;
	}
	.wrap {
		padding: 125px 10% 30px;
	}
}

.gallery {
	display: flex;
	flex-wrap: wrap;


	&_wrap {
		width: 30%;
		height: 237px;
		overflow: hidden;
		position: relative;
		justify-content: center;


		&:nth-child(3n+2) {
			width: 40%;
		}

		&:hover .gallery_item {
			transform: scale(1.05);
			transition: .2s all ease-in;
		}
	}

	.h1 {
		position: absolute;
		bottom: 40px; top: auto; left: 20px; right: auto;
		color: #FFF;
	}


}

.button {
	display: block;
	margin: 40px auto;
	text-transform: uppercase;
	border: 2px solid #3c3c3c;
	background-color:  #3c3c3c;
	width: 391px;
	height: 54px;
	outline: 0;
	color: #FFF;
	letter-spacing: 2px;
}

.footer {
	display: flex;
	justify-content: center;
	align-content: top;
	align-items: center;
	line-height: 0;
	height: 100px;

	&-logo {
		margin: 0 20px;
	}
}
