@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font: 300 16px/26px Lato, sans-serif;
  margin: 0;
  padding-top: 0;
}
.h1 {
  font: 700 34px Lato, sans-serif;
  text-align: center;
  text-transform: uppercase;
  padding: 0 5%;
  letter-spacing: 4px;
  margin-bottom: -140px;
  position: absolute;
  margin: auto;
  top: -20px;
  bottom: 0;
  left: 0;
  right: 0;
}
.h2 {
  font: 700 20px Lato, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.scroll {
  margin-top: auto;
  margin-bottom: 115px;
  display: inline-block;
}
.scroll img {
  margin: auto;
}
.wrap {
  margin: 120px auto;
  width: 900px;
  text-align: center;
  padding: 77px 14% 30px;
  position: relative;
}
.wrap--box {
  border: 2px solid black;
  border-width: 0 2px 2px 2px;
  position: relative;
}
.wrap--box:before,
.wrap--box:after {
  display: block;
  content: '';
  position: absolute;
  height: 2px;
  width: 25%;
  background: black;
  top: 0;
}
.wrap--box:before {
  left: 0;
}
.wrap--box:after {
  right: 0;
}
.home {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  background: #adb8cd url('img/hero-bg.jpg');
  background-size: cover;
  color: #FFF;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
}
.home .h1 {
  background: none;
  margin-bottom: 20px;
  position: static;
}
.home .h2 {
  font: 400 15px/29px Lato, sans-serif;
}
.about {
  line-height: 24px;
}
.services {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #adb8cd url('img/services.jpg');
  background-size: cover;
  height: 488px;
  color: #FFF;
}
.services .wrap--box {
  border-color: #FFF;
}
.services .wrap--box:before,
.services .wrap--box:after {
  background: #FFF;
}
.we-do .h2 {
  margin: 30px auto;
}
.we-do p {
  margin-bottom: 110px;
  font: 300 14px/26px Lato;
  color: #3c3c3c;
}
.we-do .wrap {
  padding: 125px 10% 30px;
}
.gallery {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.gallery_wrap {
  width: 30%;
  height: 237px;
  overflow: hidden;
  position: relative;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.gallery_wrap:nth-child(3n+2) {
  width: 40%;
}
.gallery_wrap:hover .gallery_item {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-transition: 0.2s all ease-in;
  -o-transition: 0.2s all ease-in;
  transition: 0.2s all ease-in;
}
.gallery .h1 {
  position: absolute;
  bottom: 40px;
  top: auto;
  left: 20px;
  right: auto;
  color: #FFF;
}
.button {
  display: block;
  margin: 40px auto;
  text-transform: uppercase;
  border: 2px solid #3c3c3c;
  background-color: #3c3c3c;
  width: 391px;
  height: 54px;
  outline: 0;
  color: #FFF;
  letter-spacing: 2px;
}
.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: top;
  -ms-flex-line-pack: top;
  align-content: top;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  line-height: 0;
  height: 100px;
}
.footer-logo {
  margin: 0 20px;
}
