.svgSprite {
	display: none;
}

.icon, .logo {
	display: block;
	width: 80px;
	height: 95px;
	margin: auto;
}

.logo-circule {
	fill: rgb(245,247,251);
}

.design {
	fill: #555555;
}

.development {
	fill: #888888;
}

.prodmanagement {
	fill: #aaaaaa;
}
