@import url('https://fonts.googleapis.com/css?family=Raleway:300,700,900');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font: 300 17px/27px Raleway, sans-serif;
	color:  #262626;
	transition: all .15s ease-in;
}

h1 {
	font: 700 90px Raleway, sans-serif;
	color: #FFF;
	margin: 0;
}
h2 {
	font: 900 60px/40px Raleway, sans-serif;
}
p {
	margin: 35px 0;
}

.button {
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
	width: 200px;
	height: 55px;
	border: 0;
	font: 300 20px Raleway;
	color:  #ffffff;
}

.button--red {
	background-color:  #ff6033;
}

.header {
	position: fixed;
	text-align: right;
	width: 100%;
	z-index: 1;
	padding-top: 50px;
}

	.logo {
		display: inline-block;
		vertical-align: middle;
		float: left;
	}

	.menu {
		display: inline-block;
		vertical-align: middle;
	}

		.menu_item {
			display: inline-block;
			margin-left: 40px;
		}

			.menu_hover {
				background-color:  #ff6033;
				width: 100%;
				height: 3px;
				transform: scaleX(0);
				transform-origin: left;

			}

			.menu_item:hover .menu_hover {
				transform: scaleX(1);
			}

			.menu_ref {
				text-decoration: none;
				font: 700 16px Raleway, sans-serif;
			}

.home, .about-us {
	display: flex;
	align-items: center;
}

.wraper {
	width: 1170px;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.home {
	height: 100vh;
	background: #fff url('img/home-bg.png') 50% no-repeat;
	background-size: cover;
	position: relative;

}

	.home_text {
		width: 370px;

	}

	.scroll_img {
		margin: auto;
		position: absolute;
		top: auto; left: 0; right: 0; bottom: 70px;
	}

.about-us {
	height: 700px;
	background-color:  #00c4c4;
	background: radial-gradient(circle farthest-side at 50%, rgba(0, 196, 196, 0.9) 0%, rgba(0, 183, 183, 0.9) 31%, rgba(0, 173, 173, 0.9) 67%, rgba(0, 156, 156, 0.9) 100%);


}

	.about-us_img {
		width: 566px;
	}


	.about-us_text {
		width: 500px;
		color:  #fff;
	}
