* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font: 700 13px/13px 'Century Gothic', sans-serif;
	background-color:  #e2e7ec;
}

.card-list {
	display: flex;
	flex-wrap: wrap;
	max-width: 1120px;
	margin: auto;
}

.card {
	height: 540px;
	background: #FFF;
	margin: 10px;
	flex-basis: calc(100% / 3 - 20px);
	max-width: calc(100% / 3 - 20px);
	display: flex;
	flex-direction: column;

}

.card__main {
	flex-basis: calc(200% / 3 - 20px);
	max-width: calc(200% / 3 - 20px);
	background: url('img/Layer 8.png') 0 0 no-repeat;
	box-shadow: inset 0 -540px 200px -150px  rgba(0, 0, 0, .5);
	justify-content: flex-end;
	flex-wrap: wrap;
}

.card__main .card_title {
	color: white;
	margin: 20px 27px 40px ;
}

.card_info {
	margin-top: auto;
}

.card_container{
	height: 250px;
	width: 100%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	font-size: 0;
}

.card_img {
	height: 100%;
	align-self: center;
}

.card_date {
	margin: 25px 27px 15px;
	color: #aaa;
	text-transform: uppercase;
	font-size: 13px;
}

.card_title {
	text-transform: uppercase;
	color: black;
	margin: 0 27px;
	font: bold 22px/30px 'Century Gothic';
}

.card_author {
	width: 54px;
	height: 54px;
	background: url(img/author.png);
	margin: auto 27px 25px 27px;

}
