@import url('https://fonts.googleapis.com/css?family=Lato:300');
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab:400,700');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all .2s ease-in;
}

body {
    background-color: #FDDF7F;
    height: 100vh;
    display: flex;
    align-content: center;
}

.main {
    display: flex;
    justify-content: center;
    margin: auto;
}

.card {
    flex-basis: 360px;
    height: 440px;
    margin: auto 15px;
    text-align: center;
    font: 300 20px 'Lato', sans-serif;
    padding: 0px calc(360px / 4);

    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap:wrap;
}

.card_bg { /* фон, который будет растягиваться */
    width: 360px;
    height: 440px;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, .1);
    background-color: #FFF;
    position: absolute;
    z-index: -1;
}

.card_price {
    font: 700 60px/50px 'Josefin Slab', serif;
    color:  #02995b;
    margin-bottom: 23px;
}

.card_cup-img {
    margin-left: 15px; /* чтобы чашка визуально была по центру */
}

.card_name {
    font: 400 56px/46px 'Josefin Slab', serif;
    color:  #333333;
    margin: 37px 0 20px 0;
}

input {
    position: absolute;
    opacity: 0;
}

/* растягивание карточки hover */

/*.card:hover .card_bg{
    transform: scaleY(1.05);
}

.card:hover .card_price {
    transform: translateY(-10px);
}

.card:hover .card_name {
    transform: translateY(10px);
}

.card:hover .card_description {
    transform: translateY(10px);
}*/


/* растягивание карточки checked */
input:checked ~ .card_bg{
    transform: scaleY(1.1);
}

input:checked ~ .card_price {
    transform: translateY(-10px);
}

input:checked ~ .card_name {
    transform: translateY(10px);
}

input:checked ~ .card_description {
    transform: translateY(10px);
}



