@font-face {
    font-family: NovitoNova-Thin;
    src: url(NovitoNova/NovitoNova-Thin.otf);
}

@keyframes pop {
    0% {
        transform: scale(0)
    }

    75% {
        transform: scale(1.2)
    }

    100% {
        transform: scale(1)
    }
}

* {
    box-sizing: border-box;

}

body {
    background-color: Thistle;
    font-family: NovitoNova-Thin;
    text-transform: uppercase;
    font-size: 36px;
}


header {
    max-width: 65%;
    margin: auto;
    text-align: center;
    color: #c2c2c2;
}

    input[type="search"], input[type="search"]:focus {
        width: 89%;
        background-color: Thistle;
        border: none;
        display: inline;
        font-size: 48px;
        color: Gray;
        font-family: NovitoNova-Thin;
        outline: none;

    }

    button {
        background-color: Thistle;
        border: none;
        display: inline;


    }

    i.material-icons {
        font-size: 48px;
        color: Gray;

    }


main {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

    .item:first-child {
        background-color: Thistle;
        font-size: 48px;
        padding-left: 4%;
        box-shadow: none;
    }

    .item {
        position: relative;
        width: 300px;
        background-color: Plum;
        border-radius: 7px;
        margin: 10px 30px;
        display: flex;
        box-shadow: 0 0 4px rgba(0,0,0,0.2);
        padding:0;
    }

        .item:hover {
            background-color: rgba(221, 160, 221, 0.8);
        }

        .item:first-child:hover {
            background-color: Thistle;
        }

        .item:active {
            background-color: rgba(217, 158, 217, 1);
            transform: scale(0.999);
            box-shadow: inset 0 0 8px rgba(0,0,0,0.1);
        }

        .item:first-child:active {
            background-color: Thistle;
            transform: none;
            box-shadow: none;
        }

    .item img {
        max-width: 20%;
        border-radius: 50%;
        margin: 4%;
        align-self: center;
    }

    span {
        align-self: center;
        display: block;
    }

        .tip {
            display: none;
            width: 50px;
            font-size: 24px;
            background-color: rgba(0, 0, 0, 0.5);
            color: #fff;
            text-align: center;
            border-radius: 6px;
            position: absolute;
        /*     z-index: 1; */
            right: 90%;
        }

        .tip::after {
            content: ' ';
            position: absolute;
            margin: 10px 0;
            left: 100%;
            border: 5px solid;
            border-color: transparent transparent transparent rgba(0, 0, 0, 0.5);
        }

    input[type="checkbox"] {
        visibility: hidden;
    }

    .chck:checked ~ .tip{
        display: block;
        animation: pop 0.2s ease-in-out;
    }
