body {
    font: 400 18px/30px 'Segoe UI', sans-serif;
    background: url("../img/bg_white.png") fixed;
}

.ba-container {
    width: 100%;
    background: url("../img/bg_white.png") fixed;
}

.ba-header {
    color: white;
    background: url("../img/bg_black.png");
    height: 850px;
}

h1 {
    margin: 60px 0 60px 0;
    text-transform: uppercase;
    font: 700 80px/36px 'Segoe UI', sans-serif;
}

img {
    padding: 80px;
}

img[src="img/arrow.png"] {
    padding-top: 10%;
}

main {
    width: 1000px;
}

main > p {
    font: 30px/42px 'Segoe UI';
    padding: 125px;
}

.do-block {
    width: 300px;
    padding: 0 15px 110px 15px;
}
